.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  padding: 18px 53.5px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid $BaseWhite;
  background: none;
  color: $BaseWhite;
}

.button:hover,
.button:focus {
  color: $BaseSecondary;
  background-color: $BaseWhite;
}

.button:active {
  color: $BaseColor;
}

.button:disabled {
  opacity: 0.5;
}

@media (max-width: $tablet-maxwidth) {
  .button {
    min-width: 185px;
    padding: 18px 30px;
  }
}
