.card {
  box-sizing: border-box;
  display: inline;
  width: 360px;
  padding: 57px 56px;
  padding-bottom: 87px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background: $BaseWhite;
  border: 6px solid $BaseWhite;
  z-index: 100;
}

.card:hover {
  border: 6px solid $SecondaryMain;
  border-image: linear-gradient(#d10a42, #00359f) 30;
}

.card__title {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  line-height: 26px;
  font-size: 26px;
  text-align: center;
  color: $BaseColor;
}

.card__schedule {
  margin: 0;
  margin-bottom: 67px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $BaseColor;
}

.card__price {
  position: relative;
  margin: 0;
  margin-bottom: 55px;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: $BaseSecondary;
  z-index: 1;

  span {
    position: relative;
  }

  span:first-child {
    position: absolute;
    left: 19px;
    top: -21px;
    font-size: 100px;
    color: rgba($SecondaryLight, 1);
    z-index: 0;
  }

  span:last-child {
    padding-left: 14px;
    font-weight: 400;
    color: $BaseColor;
  }
}

.card__button {
  display: inline;
  border-width: 2px;
  padding: 24px 44px;
  color: $BaseColor;
  border-color: $BaseColor;
}

.card__button:hover,
.card__button:focus {
  border: none;
  color: $BaseWhite;
  background: linear-gradient(151deg, $BannerColor 0%, #003eb7 100%);
}

.card .card__button:active {
  background: linear-gradient(151deg, $BannerColor 0%, #003eb7 100%);
  border: none;
  color: rgba($BaseWhite, 0.6);
}

@media (max-width: $tablet-maxwidth) {
  .card {
    width: 442px;
    padding: 58px 56px 89px;
  }

  .card__price span:first-child {
    left: 58px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .card {
    width: 100%;
    padding: 66px 35px;
    padding-top: 45px;
    padding-bottom: 48px;
  }

  .card__title {
    font-size: 22px;
  }

  .card:hover .card__button {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .card__schedule {
    margin-bottom: 54px;
  }

  .card__price {
    display: inline-block;
    margin-bottom: 29px;
    font-size: 48px;

    span:first-child {
      top: -25%;
      left: -10%;
      font-size: 80px;
    }

    span:last-child {
      padding-left: 8px;
    }
  }

  .card__button {
    width: 100%;
    display: block;
    padding-left: 41px;
    padding-right: 41px;
  }
}
