.contacts {
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 82px 60px;
  padding-bottom: 64px;
  color: $BaseColor;
}

.contacts__title {
  @extend %title-logofont;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 56px;
  font-size: 54px;
  letter-spacing: 1.26px;
}

.contacts__list {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 563px;
  row-gap: 16px;
  list-style: none;
}

.contacts__list::after {
  position: absolute;
  width: 1px;
  top: 7px;
  left: 294px;
  height: 102px;
  background: #74819C;
  content: "";
}

.contacts__item {
  box-sizing: border-box;
  width: 294px;
  padding-left: 60px;
  padding-right: 60px;
}

.contacts__item-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  padding-left: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.contacts__item-description {
  margin: 0;
  padding-left: 2px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 152.344%;

  a {
    color: $BaseColor;
  }
}

@media (max-width: $tablet-maxwidth) {
  .contacts {
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 76px 82px;
    padding-bottom: 60px;
    padding-right: 58px;
    color: $BaseColor;
  }
}

.contacts__title {
  font-size: 46px;
  margin-left: 50px;
  margin-bottom: 46px;
  letter-spacing: -0.4px;
}

.contacts__list {
  width: 100%;
  row-gap: 21px;
}

.contacts__list::after {
  top: 8px;
  left: calc(30% + 128px);
  height: 129px;
}

.contacts__item {
  padding-left: 48px;
  padding-right: 10px;
}

.contacts__item-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.contacts__item-description {
  font-size: 18px;
}

@media (max-width: $mobile-maxwidth) {
  .contacts {
    padding: 72px 10px 61px;
  }

  .contacts__title {
    margin-left: 5px;
    margin-bottom: 42px;
    font-size: 32px;
    letter-spacing: 1px;
  }

  .contacts__list {
    grid-template-columns: 1fr ;
    row-gap: 19px;
  }

  .contacts__item {
    padding-left: 5px;
    padding-right: 10px;
  }

  .contacts__item--phone {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .contacts__item-title {
    padding-left: 0;
  }

  .contacts__item-description {
    padding-left: 0;
  }

  .contacts__list::after {
    display: none;
  }
}
