.contacts {
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 82px 60px;
  padding-bottom: 64px;
  color: $BaseColor;
}

.contacts__title {
  @extend %title-logofont;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 56px;
  font-size: 54px;
  letter-spacing: 1.26px;
}

.contacts__list {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 563px;
  row-gap: 16px;
  list-style: none;
}

.contacts__list::after {
  position: absolute;
  width: 1px;
  top: 7px;
  left: 294px;
  height: 102px;
  background: #74819C;
  content: "";
}

.contacts__item {
  box-sizing: border-box;
  width: 294px;
  padding-left: 60px;
  padding-right: 60px;
}

.contacts__item-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  padding-left: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.contacts__item-description {
  margin: 0;
  padding-left: 2px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 152.344%;

  a {
    color: $BaseColor;
  }
}
