.faq-navigation {
  margin: 0;
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.faq-navigation__item {
  margin-bottom: 11.5px;
  list-style: none;
  margin-left: 2px;
  margin-right: 1px;
}

.faq-navigation__button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 17px;
  padding-top: 18px;
  color: $BaseColor;
  text-transform: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  border: none;
  outline: 1px solid rgba(16, 38, 84, 0.2);
  cursor: pointer;
}

.faq-navigation__button:hover,
.faq-navigation__button:focus,
.faq-navigation__button.is-active {
  color: $BaseWhite;
  background: linear-gradient(151deg, $BannerColor 0%, $SecondaryColor 100%);
  border: none;
}

@media (max-width: $tablet-maxwidth) {
  .faq-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
  }

  .faq-navigation__item {
    margin-bottom: 0;
    flex-grow: 1;

    :last-child {
      margin-right: 0;
    }
  }

  .faq-navigation__button {
    min-width: 155px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .faq-navigation {
    margin-bottom: 32px;
  }

  .faq-navigation__button {
    min-width: 138px;
    margin-right: 0;
    padding: 13px 29px;
    font-size: 16px;
  }
}
