.footer-navigation {
  display: flex;
  justify-content: space-between;
  padding: 38px 20px;
  width: $desktop-width;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: flex-start;
}

.footer-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $BaseWhite;
}

.footer-navigation__item--hidden {
  display: none;
}

.footer-navigation__item {
  box-sizing: border-box;
  padding: 5px 10px;
  margin-right: 20px;
}

.footer-navigation__link {
  padding-bottom: 5px;
}

.footer-navigation__item:hover .footer-navigation__link {
  border-bottom: 1px solid $BaseWhite;
}

.footer-navigation__item:focus-within {
  outline: 1px solid $BaseWhite;
  border-radius: none;
}

.footer-navigation__item:focus-within.footer-navigation__item:active {
  border: none;
  outline: none;
}

.footer-navigation__link:focus {
  outline: none;
  border: none;
}

.footer-navigation__item:hover .footer-navigation__link:active {
  border: none;
}

@media (max-width: $tablet-maxwidth) {
  .footer-navigation {
    padding: 40px 46px;
    width: 100%;
  }

  .footer-navigation__item {
    margin-right: 10px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .footer-navigation {
    padding: 40px 5px;
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-navigation__list {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    column-gap: 10px;
    margin-bottom: 26px;
  }

  .footer-navigation__item--hidden {
    display: block;
    visibility: hidden;
  }
}
