.footer {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer__wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.footer__botttom-block {
  min-width: $mobile-width;
  margin: 0 auto;
  background: $FooterColor;
}

.footer__logo {
  width: 88px;
  height: 32px;
  margin-top: 5px;
}

@media (max-width: $tablet-maxwidth) {
  .footer__wrapper {
    min-width: 320px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

 .footer__logo svg {
    margin-top: 3px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .footer__logo {
    margin-top: 1px;
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  svg {
    width: 68px;
    height: 15px;
  }
}
