.footer {
  margin: 0 auto;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer__wrapper {
  width: $desktop-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 683px);
}

.footer__botttom-block {
  background: $FooterColor;
}

.footer__logo {
  font-size: 26px;
  letter-spacing: 0.2px;
  margin-right: 30px;
  margin-top: 5px;
}

@media (max-width: $tablet-maxwidth) {
  .footer__wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer__logo {
    margin-top: 1px;
    font-size: 24px;
  }
}

@media (max-width: $tablet-maxwidth) {
  .footer__logo {
    font-size: 20px;
    margin-top: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
