.form-lesson {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 26px;
  box-sizing: border-box;
  width: 410px;

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px 6px;
    letter-spacing: -0.8px;
    color: $BaseWhite;
    background: none;
    border: none;
    border-bottom: 1px solid rgba($BaseWhite, $alpha: 0.3);
  }
}

.form-lesson input:hover {
  border-bottom: 1px solid rgba($BaseWhite, $alpha: 1);
}

.form-lesson input:focus,
.form-lesson input:active {
  outline: 1px solid rgba($BaseWhite, $alpha: 1);
  border-bottom: 1px solid rgba($BaseWhite, $alpha: 0);
  border-radius: none;
}

.form-lesson input:focus::placeholder,
.form-lesson input:active::placeholder {
  color: transparent;
}

.form-lesson__name {
  grid-column-start: 1;
  grid-column-end: 2;

  ::placeholder {
    color: rgba($BaseWhite, $alpha: 1);
  }
}

.form-lesson__phone {
  grid-column-start: 2;
  grid-column-end: 3;

  ::placeholder {
    color: rgba($BaseWhite, $alpha: 1);
  }
}

.form-lesson__name.has-danger input,
.form-lesson__phone.has-danger input {
  border-bottom: 1px solid rgba($ErrorColor, $alpha: 1);
}

.form-lesson__input--errore {
  position: absolute;
  color: $ErrorColor;
}

.form-lesson__button {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 14px;
  padding-bottom: 13px;
  cursor: pointer;
}

@media (max-width: $tablet-maxwidth) {
  .form-lesson {
    width: 100%;
    column-gap: 60px;
  }

  .form-lesson input {
    padding-bottom: 5px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .form-lesson {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 33px;
  }

  .form-lesson__phone {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 5px;
  }

  .form-lesson__button {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
