.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width:  $desktop-width;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 96px;
  background: conic-gradient(from 151deg at 16.03% 39.06%, $FirstMain 32.23633825778961deg, $SecondaryMain 313.3060026168823deg);
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  margin-bottom: 98px;
}

.header__main-block {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.header__title-wrapper {
  width: 22.7%;
  padding-right: 65px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__town {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 57px;
  @extend %title-logofont;
  font-size: 38px;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: $BaseWhite;
}

.header__title {
  margin: 0;
  margin-bottom: 48px;
  @extend %title-logofont;
  font-size: 92px;
  line-height: normal;
  letter-spacing: 4.6px;
  text-align: right;
  text-transform: uppercase;
  color: $BaseWhite;
}

.header__image {
  position: absolute;
  top: -120px;
  width: 500px;
  height: 556px;
  background-color: $FirstMain;
  object-fit: cover;
}

@media (max-width: $tablet-maxwidth) {
  .header {
    width: $tablet-width;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 78px;
  }

  .header__info {
    padding-top: 33px;
    margin-bottom: 21px;
  }

  .header__main-block {
    justify-content: space-between;
  }
  .header__title-wrapper {
    padding-right: 0;
    padding-top: 55px;
  }

  .header__town {
    font-size: 25px;
    margin-right: 0;
    margin-bottom: 11px;
    padding-right: 7px;
    letter-spacing: 1.9px;
  }

  .header__title {
    margin-bottom: 37px;
    font-size: 72px;
    letter-spacing: 3.6px;
    text-transform: none;
  }

  .header__button {
    padding: 18px 33.5px;
  }

  .header__image {
    position: static;
    width: 324px;
    height: 390px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .header {
    width: $mobile-width;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 138px;
  }

  .header__info {
    padding-top: 15px;
  }

  .header__title-wrapper {
    padding-right: 0;
    padding-top: 52px;
    margin-right: -82px;

    .header__button {
      padding: 18px 83px;
    }
  }

  .header__town {
    margin-bottom: 14px;
    padding-right: 0;
  }

  .header__title {
    margin-bottom: 23px;
  }

  .header__button {
    position: absolute;
    width: 290px;
    bottom: -59px;
    }

  .header__image {
    display: none;
  }
}
