.header {
  min-width: $mobile-width;
  background: conic-gradient(from 151deg at 16.03% 39.06%, $FirstMain 32.24deg, $SecondaryMain 313.31deg);
}

.header__wrapper {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: $desktop-width;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 24px;
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

.header__main-block {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 11.7% 22.7% 2fr;

  picture {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

.header__town {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0;
  margin-top: 98px;
  margin-bottom: 19px;
  padding-right: 62px;
  text-align: right;
  font-size: 38px;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: $BaseWhite;
}

.header__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-right: 5px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 92px;
  line-height: normal;
  letter-spacing: 4.6px;
  text-align: right;
  text-transform: uppercase;
  color: $BaseWhite;
}

.header__button {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  width: 90%;
}

.header__image {
  position: relative;
  margin-left: 62px;
  width: 500px;
  height: auto;
  top: -22px;
  object-fit: cover;
}

@media (max-width: $tablet-maxwidth) {
  .header {
    background: conic-gradient(from 155deg at 20.7% 35.74%, #003d85 32.24deg, #b80027 313.31deg);
  }

  .header__wrapper {
    width: 100%;
    min-width: 320px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 78px;
  }

  .header__info {
    padding-top: 33px;
    margin-bottom: 21px;
  }

  .header__main-block {
    width: 100%;
    grid-template-columns: 20.6% 27.1% 1fr;
  }

  .header__title-wrapper {
    padding-right: 0;
    padding-top: 55px;
  }

  .header__town {
    font-size: 25px;
    margin-right: 0;
    margin-top: 55px;
    margin-bottom: 11px;
    padding-right: 7px;
    letter-spacing: 1.9px;
  }

  .header__title {
    margin-bottom: 37px;
    font-size: 72px;
    letter-spacing: 3.6px;
    text-transform: none;
  }

  .header__image {
    position: static;
    width: 92%;
    height: 100%;
    max-width: 500px;
    max-height: 556px;
    margin-left: 30px;
    object-fit: contain;
  }

  .header__button {
    width: 100%;
  }
}

@media (max-width: $mobile-maxwidth) {
  .header {
    background: conic-gradient(from 167deg at 35.31% 34.22%, #003d85 32.24deg, #b80027 313.31deg);
  }

  .header__wrapper {
    min-width: $mobile-width;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 81px;
  }

  .header__info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 16px;
    margin-bottom: 16px;
  }

  .header__main-block {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 1fr 1fr;
  }

  .header__button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 18px 83px;
  }

  .header__town {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 14px;
    padding-right: 0;
  }

  .header__title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 23px;

    span {
      display: block;
    }
  }

  .header__image {
    display: none;
  }
}
