.header-navigation {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.header-navigation__list {
  list-style: none;
  text-align: right;
  margin: 0;
  margin-top: 121px;
  margin-right: 6px;
  padding: 0;
}

.header-navigation__item {
  font-weight: 400;
}

.header-navigation__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  color: $BaseWhite;
}

.header-navigation__link:hover,
.header-navigation__link:focus {
  opacity: 0.6;
}

.header-navigation__link:active {
  opacity: 0.3;
}

@media (max-width: $tablet-maxwidth) {
  .header-navigation {
    margin-right: 27px;
  }

  .header-navigation__item {
    padding-left: 0;
  }

  .header-navigation__list {
    margin-top: 91px;
    margin-right: -4px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .header-navigation {
    margin-right: 36px;
  }

  .header-navigation__list {
    margin-top: 77px;
  }
}
