.lesson {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 410px;
  padding: 56px 170px 56px 103px;
  color: $BaseWhite;
  background: $BaseColor;
}

.lesson__title {
  @extend %title-logofont;
  margin: 0;
  margin-bottom: 14px;
  font-size: 54px;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 2.32px;
  color: $BaseWhite;
}

@media (max-width: $tablet-maxwidth) {
  .lesson {
    grid-column-start: 1;
    grid-column-end: 1;
    box-sizing: border-box;
    padding: 54px 163px 70px 133px;
    width: 100%;
  }

  .lesson__title {
    font-size: 42px;
    letter-spacing: 1.46px;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .lesson {
    padding: 57px 15px 70px;
    min-width: $mobile-width;
    width: 100%;
  }

  .lesson__title {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 25px;
  }
}
