.logo {
  width: 122px;
  height: 44px;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

@media (max-width: $tablet-maxwidth) {
  .logo svg {
    width: 82px;
    height: 17px;
    margin-top: 10px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .logo svg {
    width: 69px;
    height: 24px;
    margin-top: -1px;
  }
}
