.promo {
  margin: 0 auto;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: $BaseColor;
}


.promo__title {
  margin: 0;
  margin-bottom: 1px;
  font-size: 26px;
  font-weight: 700;
  line-height: 156%;
}

.promo__description {
  margin: 0;
  margin-bottom: 66px;
  font-size: 16px;
  span {
    display: block;
  }
}

.promo__link {
  font-size: 12px;
  font-weight: 700;
  color: $BaseColor;
  text-transform: uppercase;
  border-bottom: 1px solid #1C3374;
  letter-spacing: 0.6px;
}

.promo__item {
  padding: 14px 28px 27px;
  box-sizing: border-box;
  border: 7px solid;
  border-image-slice: 5;
  border-image-source: linear-gradient(to right, #d10a42, #00359f);
}


.promo__item--main {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: $BaseWhite;

  picture {
    display: block;
  }
}

.promo__item-wrapper {
  padding: 34px 45px 43px;
  background: $BannerColor;
  height: min-content;

  .promo__description {
    margin-bottom: 187px;
    font-size: 18px;
  }


  .promo__link {
    color: $BaseWhite;
    font-size: 14px;
    letter-spacing: 0.7px;
    border-bottom:  1px solid $BaseWhite;
  }
}

.promo__title {
  font-size: 28px;

  span:first-child {
    display: block;
    margin-bottom: 8px;
  }

  span:last-child {
    display: block;
    margin-bottom: 33px;
    font-size: 70px;
  }
}

.promo__item--month {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  span {
    display: inline;
  }
}

.promo__item--sale {
  grid-column:  2 /3;
  grid-row: 2 / 3;
  height: min-content;
}

.promo__image {
  display: inline-block;
}


@media (max-width: $tablet-maxwidth) {
  .promo__item {
    padding-bottom: 28px;
  }

  .promo__item--main {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-bottom: 0;
  }

  .promo__item--month {
    padding-top: 17px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    .promo__description {
      margin-bottom: 43px;
    }

    span {
      display: block;
    }
  }

  .promo__item--sale {
    padding-top: 17px;
    grid-column:  2 /3;
    grid-row: 2 / 3;
  }

  .promo__item-wrapper {
    text-align: left;
    width: calc(100% - 399px);
    margin-bottom: 6px;
    padding-bottom: 45.5px;
  }

  .promo__title {
    font-size: 26px;

    span:last-child {
      margin-bottom: 39px;
    }

    .promo__link {
      line-height: normal;
    }
  }
}

@media (max-width: $mobile-maxwidth) {
  .promo__item {
    padding: 27px 43px 37px;
    text-align: center;
    margin-bottom: 2px;
  }

  .promo__title {
    margin-bottom: 5px;
  }


  .promo__item--main {
    padding: 0;
    flex-direction: column;
    margin-bottom: 0;
  }

  .promo__item-wrapper {
    padding-bottom: 45px;
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    text-align: center;

    .promo__description {
      margin-bottom: 37px;
    }
  }

  .promo__title {
    span:last-child {
      margin-bottom: 32px;
    }

    .promo__description {
      margin-bottom: 30px;
    }
  }

  .promo__item--sale {
    padding-top: 29px;

    .promo__title {
      margin-bottom: 2px;
    }

    .promo__description {
      margin-bottom: 21px;
      letter-spacing: -0.7px;
    }
  }

  .promo__item--month {
    margin-bottom: 8px;
  }

  .promo__item--month .promo__description {
    margin-bottom: 19px;
}
}
