.reviews {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.reviews__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $BaseColor;
  margin: 0;
  margin-bottom: 37px;
  font-size: 54px;
  text-align: center;
}

.reviews__button-prev,
.reviews__button-next {
  position: absolute;
  box-sizing: border-box;
  top: 93px;
  left: 18px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  content: "";
  cursor: pointer;
  z-index: 10;
}

.reviews__button-next {
  left: 672px;
}

.reviews__button-prev::after,
.reviews__button-next::after {
  position: absolute;
  top: 12px;
  left: 19px;
  width: 16px;
  height: 30px;
  background: $BaseGrey;
  z-index: 12;
  content: "";
}

.reviews__button-prev::after {
  mask-image: url("../../img/trainer/arrow-prev.svg");
}

.reviews__button-next::after {
  mask-image: url("../../img/trainer/arrow-next.svg");
}

.reviews__button-prev:hover,
.reviews__button-next:hover,
.reviews__button-prev:focus,
.reviews__button-next:focus, {
  border: 1px solid $BaseColor;
}

.reviews__button-prev:active,
.reviews__button-next:active {
  border-color: $BaseColor;
  background: $BaseColor;
}

.reviews__button-prev:active.reviews__button-prev::after,
.reviews__button-next:active.reviews__button-next::after {
  background: $BaseWhite;
}

.reviews__button-prev.swiper-button-disabled,
.reviews__button-next.swiper-button-disabled,
.reviews__button-prev:hover.swiper-button-disabled,
.reviews__button-next:hover.swiper-button-disabled,
.reviews__button-prev:focus.swiper-button-disabled,
.reviews__button-next:focus.swiper-button-disabled,
.reviews__button-prev:active.swiper-button-disabled,
.reviews__button-next:active.swiper-button-disabled {
  border: none;
  background: none;
  opacity: 0.3;
}

.swiper-button-disabled.reviews__button-prev::after,
.swiper-button-disabled.reviews__button-next::after,
.swiper-button-disabled.reviews__button-prev:hover.reviews__button-prev::after,
.swiper-button-disabled.reviews__button-next:hover.reviews__button-next::after,
.swiper-button-disabled.reviews__button-prev:focus.reviews__button-prev::after,
.swiper-button-disabled.reviews__button-next:focus.reviews__button-next::after,
.swiper-button-disabled.reviews__button-prev:active.reviews__button-prev::after,
.swiper-button-disabled.reviews__button-next:active.reviews__button-next::after {
  background: $BaseColor;
  opacity: 0.3;
}

.reviews__slider {
  width: 1200px;
  margin: 0 auto;
}

.reviews__slider-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.reviews__slide .review-card {
  padding: 0;
  width: 560px;
}

@media (max-width: $tablet-maxwidth) {
  .reviews {
    padding-top: 92px;
    padding-bottom: 103px;
  }

  .reviews__title {
    margin-bottom: 39px;
    padding-right: 7px;
    font-size: 42px;
  }

  .reviews__button-next {
    left: 682px;
  }

  .reviews__slider {
    width: 100%;
  }

  .reviews__slide .review-card {
    padding: 0;
    width: 566px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .reviews {
    padding-top: 61px;
    padding-bottom: 70px;
  }

  .reviews__title {
    margin-bottom: 42px;
    font-size: 32px;
  }

  .reviews__button-prev,
  .reviews__button-next {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    content: "";
    z-index: 10;
  }

  .reviews__button-next {
    left: calc(100% - 30px);
  }

  .reviews__button-prev::after,
  .reviews__button-next::after {
    position: absolute;
    top: 6px;
    left: 9px;
    width: 10px;
    height: 19px;
    background: $BaseGrey;
    z-index: 12;
    content: "";
  }

  .reviews__slide .review-card {
    padding: 0;
    width: 226px;
  }
}
