.subscription {
  background: $SecondaryLight;
  scroll-behavior: smooth;
  overflow: hidden;
}

.subscription__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding-top: 121px;
  padding-bottom: 123px;
  text-align: center;
  scroll-behavior: smooth;
}

.subscription__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $BaseColor;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-size: 54px;
  letter-spacing: 1.62px;
  text-align: center;
}

.subscription__duration {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
  list-style: none;
  display: inline-flex;

  ::after {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
    content: "";
  }

  :last-child {
    margin-right: 0;
  }
}

.subscription__duration-item {
  margin-right: 46px;
}

.subscription__button {
  position: relative;
  display: inline;
  padding: 0;
  padding-bottom: 10px;
  border: none;
  background: none;
  font-size: 20px;
  color: rgba($BaseColor, 0.5);
  border-bottom: 2px solid rgba($BannerColor, 0);
  cursor: pointer;
}

.subscription__button--active {
  color: $BaseColor;
  border-bottom: 2px solid $BannerColor;
}

.subscription__button:hover,
.subscription__button:focus,
.subscription__button:active {
  color: rgba($BaseColor, 1);
  box-sizing: border-box;
  border-bottom: 2px solid $BannerColor;
}

.subscription__button:disabled {
  color: rgba($BaseColor, 0.3);
}

.subscription__plan {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.subscription__plan::after {
  position: absolute;
  background-image: url("../../img/subscriptionbg-desktop@1x.png");
  background-size: 287px 494px;
  width: 287px;
  height: 494px;
  bottom: -269px;
  right: -79px;
  content: "";

  @media (min-resolution: 2dppx) {
    background-size: 287px 494px;
    background-image: url("../../img/subscriptionbg-desktop@2x.png");
  }
}

.subscription__plan--one,
.subscription__plan--six,
.subscription__plan--twelve {
  display: none;
}

.subscription__plan--current {
  display: flex;
}

.subscription__plan-item {
  position: relative;
  list-style: none;
}

@media (max-width: $tablet-maxwidth) {
  .subscription {
    overflow: visible;
  }

  .subscription__wrapper {
    padding-top: 100px;
    padding-left: 163px;
    padding-right: 163px;
    padding-bottom: 100px;
  }

  .subscription__title {
    padding-right: 15px;
    margin-bottom: 19px;
    font-size: 42px;
  }

  .subscription__duration-item {
    margin-right: 54px;
  }

  .subscription__duration {
    margin-bottom: 45px;
  }

  .subscription__button {
    letter-spacing: -1px;
  }

  .subscription__plan::after {
    position: absolute;
    background-image: url("../../img/subscriptionbg-tablet@1x.png");
    background-size: 287px 494px;
    width: 347px;
    height: 444px;
    bottom: -224px;
    right: -163px;
    content: "";

    @media (min-resolution: 2dppx) {
      background-size: 347px 444px;
      background-image: url("../../img/subscriptionbg-tablet@2x.png");
    }
  }
}

@media (max-width: $mobile-maxwidth) {
  .subscription__wrapper {
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 69px;
  }


  .subscription__title {
    padding-right: 7px;
    margin-bottom: 21px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }

  .subscription__duration {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 28px;

    ::after {
      top: 36px;
    }
  }

  .subscription__duration-item {
    margin-right: 0;
  }

  .subscription__button {
    padding-bottom: 13px;
    font-size: 16px;
    letter-spacing: 0.2px;
  }

  .subscription__plan {
    gap: 34px;
  }

  .subscription__plan::after {
    display: none;
  }
}
