.swiper-reviews {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  height: 242px;
  width: 752px;
  overflow: hidden;
}

@media (max-width: $tablet-maxwidth) {
  .swiper-reviews {
    width: 758px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .swiper-reviews {
    width: 100%;
    height: auto;
  }
}
