/* здесь используйте глобальные переменные */
$BaseColor: #102654;
$BaseWhite: #ffffff;
$BaseSecondary: #103aae;
$SecondaryLight: #f8f9fc;
$BannerColor: #ed0233;
$ErrorColor: #ff121f;
$FooterColor: #030a1a;
/* gradient color*/
$FirstMain: #003d85;
$SecondaryMain: #b80027;
$SecondaryColor: #003eb7;

$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 320px;
