/* здесь используйте глобальные переменные */
$BaseColor: #102654;
$BaseWhite: #ffffff;
$BaseSecondary: #103aae;
$SecondaryLight: #f8f9fc;
$BannerColor: #ed0233;
$ErrorColor: #ff121f;
$FooterColor: #030a1a;
$BaseGrey: #afafaf;
/* gradient color*/
$FirstMain: #003d85;
$SecondaryMain: #b80027;
$SecondaryColor: #003eb7;

$desktop-width: 1200px;
$tablet-width: 768px;
$tablet-maxwidth: 1199.5px;
$mobile-width: 320px;
$mobile-maxwidth: 767.5px;

%title-logofont {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #102654;
}
